[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
